In [3]:
import pandas as pd

In [4]:
df=pd.read_excel('excel_result/resumes_Milkiland_NV_VR (CMO).xlsx',
                 sheet_name='CMO',skiprows=2)

In [5]:
df.columns

Index(['name', 'link', 'location', 'age', 'company', 'position', 'salary',
       'brief_summary', 'experience', 'education', 'languages', 'pasring_date',
       'yes_no', 'yes_no VR', 'Дата собеседования VR',
       'Дата собеседования AY'],
      dtype='object')

In [6]:
l1=df[df['yes_no VR']=='yes'].link
VR_choice_011119_CMO=[x for x in l1 if 'rabota' in x]

In [7]:
def write_seen(file,list_links):
    with open(file, 'w') as f:
        print(list_links, file=f)

In [8]:
write_seen('links_seen/VR_choice_011119_CMO.txt',VR_choice_011119_CMO)

In [10]:
VR_meet_011119_CMO=df[~df['Дата собеседования VR'].isna()].link
write_seen('links_seen/VR_meet_011119_CMO.txt',VR_meet_011119_CMO)

In [11]:
AI_meet_011119_CMO=df[~df['Дата собеседования AY'].isna()].link
write_seen('links_seen/AI_meet_011119_CMO.txt',AI_meet_011119_CMO)

In [20]:
dict1={'link':VR_choice_011119_CMO,'event':'VR_choice','position':'CMO','date':'01.11.19'}

In [35]:
df1=pd.DataFrame(dict1)
df1

                            link      event position      date
0   https://rabota.ua/cv/5669965  VR_choice      CMO  01.11.19
1   https://rabota.ua/cv/4956278  VR_choice      CMO  01.11.19
2  https://rabota.ua/cv/10694129  VR_choice      CMO  01.11.19
3   https://rabota.ua/cv/8470231  VR_choice      CMO  01.11.19
4  https://rabota.ua/cv/13108905  VR_choice      CMO  01.11.19
5   https://rabota.ua/cv/4349995  VR_choice      CMO  01.11.19
6  https://rabota.ua/cv/10296068  VR_choice      CMO  01.11.19
7   https://rabota.ua/cv/6095045  VR_choice      CMO  01.11.19
8   https://rabota.ua/cv/2714113  VR_choice      CMO  01.11.19
9   https://rabota.ua/cv/3392006  VR_choice      CMO  01.11.19

In [34]:
df2=df[~df['Дата собеседования VR'].isna()][['link','Дата собеседования VR']]
df2.rename(columns={'Дата собеседования VR':'date'},inplace=True)
df2

                             link       date
0    https://rabota.ua/cv/5669965 2019-11-13
7   https://rabota.ua/cv/13108905 2019-11-11
14   https://rabota.ua/cv/6095045 2019-11-11
26   https://rabota.ua/cv/3392006 2019-11-11

In [44]:
dict2={'link':df2.link.to_list(),'event':'VR_meet','position':'CMO','date':df2.date.to_list()}
df3=pd.DataFrame(dict2)
df3

                            link    event position       date
0   https://rabota.ua/cv/5669965  VR_meet      CMO 2019-11-13
1  https://rabota.ua/cv/13108905  VR_meet      CMO 2019-11-11
2   https://rabota.ua/cv/6095045  VR_meet      CMO 2019-11-11
3   https://rabota.ua/cv/3392006  VR_meet      CMO 2019-11-11

In [46]:
df4=df[~df['Дата собеседования AY'].isna()]
dict3={'link':df4.link.to_list(),'event':'AY_meet','position':'CMO','date':df4['Дата собеседования AY'].to_list()}
df5=pd.DataFrame(dict3)
df5

                           link    event position       date
0  https://rabota.ua/cv/3392006  AY_meet      CMO 2019-11-15

In [52]:
table1=df1.append([df3,df5],sort=False)
table1

                            link      event position                 date
0   https://rabota.ua/cv/5669965  VR_choice      CMO             01.11.19
1   https://rabota.ua/cv/4956278  VR_choice      CMO             01.11.19
2  https://rabota.ua/cv/10694129  VR_choice      CMO             01.11.19
3   https://rabota.ua/cv/8470231  VR_choice      CMO             01.11.19
4  https://rabota.ua/cv/13108905  VR_choice      CMO             01.11.19
5   https://rabota.ua/cv/4349995  VR_choice      CMO             01.11.19
6  https://rabota.ua/cv/10296068  VR_choice      CMO             01.11.19
7   https://rabota.ua/cv/6095045  VR_choice      CMO             01.11.19
8   https://rabota.ua/cv/2714113  VR_choice      CMO             01.11.19
9   https://rabota.ua/cv/3392006  VR_choice      CMO             01.11.19
0   https://rabota.ua/cv/5669965    VR_meet      CMO  2019-11-13 00:00:00
1  https://rabota.ua/cv/13108905    VR_meet      CMO  2019-11-11 00:00:00
2   https://rabota.ua/cv/6095045    VR_meet      CMO  2019-11-11 00:00:00
3   https://rabota.ua/cv/3392006    VR_meet      CMO  2019-11-11 00:00:00
0   https://rabota.ua/cv/3392006    AY_meet      CMO  2019-11-15 00:00:00

In [65]:
cco=pd.read_excel('excel_result/CV_061219_CCO.xlsx',sheet_name='CCO юр')
cco.head()

,link,name,age,brief_summary,предприятие,должность,index,отрасль,duration,sent_email,VR_meet,AI_meet
0,https://rabota.ua/cv/11926446,Ростислав,45.0,Большой опыт работы с людьми (более 10лет). ...,"ООО ""ХХХХХ""",Коммерческий директор,0,Торговля оптовая / Дистрибуция / Импорт-экспорт,5.25,13.12.19,NaN,NaN
1,NaN,NaN,NaN,NaN,"10.2014г по настоящее время. ООО«ХХХХХ», г. Од...",ОПЫТ РАБОТЫ:,1,Торговля оптовая / Дистрибуция / Импорт-экспорт,0.50,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Должность: коммерческий директор,Специализация фирмы:,2,Торговля оптовая / Дистрибуция / Импорт-экспорт,0.75,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,"ТМ « Del Monte», «Outspan», «Choice».",Профессиональная деятельность (навыки):,3,Торговля оптовая / Дистрибуция / Импорт-экспорт,4.33,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,ООО «Фаетон-Дистрибьюшн»,Дивизионный менеджер,4,Торговля оптовая / Дистрибуция / Импорт-экспорт,2.83,NaN,NaN,NaN

In [62]:
AI_choice_061219_cco={'link':cco.link.dropna().unique(),'event':'AI_choice','position':'CCO','date':'06/12/2019'}
write_seen('AI_choice_061219_cco.txt',AI_choice_061219_cco)

Index(['link', 'name', 'age', 'brief_summary', 'предприятие', 'должность',
       'index', 'отрасль', 'duration', 'sent_email', 'VR_meet', 'AI_meet'],
      dtype='object')

In [79]:
cd1=cco[~cco.sent_email.isna()]
cd1_dict={'link':cd1.link.to_list(),'event':"email_sent",'position':'CCO','date':'16.12.19'}

In [70]:
cd2=cco[~cco.VR_meet.isna()]
cd2_dict={'link':cd2.link.to_list(),'event':"VR_meet",'position':'CCO','date':cd2.VR_meet.to_list()}

In [71]:
cd3=cco[~cco.AI_meet.isna()]
cd3_dict={'link':cd3.link.to_list(),'event':"AI_meet",'position':'CCO','date':cd3.VR_meet.to_list()}

In [74]:
cmo=pd.read_excel('excel_result/CV_061219_CMO.xlsx',sheet_name='СМО юр')
cmo.head()

,link,name,age,brief_summary,предприятие,должность,index,отрасль,duration,да/нет,причина,sent_email,VR_meet
0,https://rabota.ua/cv/10372671,Александр,40.0,15 лет общего опыта управления на предприятиях...,VB Handel,Директор по продажам,0,Торговля оптовая / Дистрибуция / Импорт-экспорт,2.17,NaN,NaN,13.12.19,NaN
1,NaN,NaN,NaN,NaN,PART Trading GmbH,Директор по продажам,1,Торговля оптовая / Дистрибуция / Импорт-экспорт,1.92,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,ДП ХАМЕ УК ТРЕЙД (Чехия).,Директор по продажам и маркетингу,2,Торговля оптовая / Дистрибуция / Импорт-экспорт,7.42,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Директора по продажам и Маркетинг директора,Hame s.r.o.,3,FMCG,5.75,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,"ДП ""Бест Альтернатива"".",Директор по продажам и маркетингу,4,FMCG,1.08,NaN,NaN,NaN,NaN

In [76]:
cm1=cmo[~cmo.sent_email.isna()]
cm1_dict={'link':cm1.link.to_list(),'event':"email_sent",'position':'CMO','date':cm1.sent_email.to_list()}

In [77]:
cm2=cmo[~cmo.VR_meet.isna()]
cm2_dict={'link':cm2.link.to_list(),'event':"VR_meet",'position':'CMO','date':cm2.VR_meet.to_list()}

In [91]:
c1=pd.DataFrame(cd1_dict)
c2=pd.DataFrame(cd2_dict)
c3=pd.DataFrame(cd3_dict)
c4=pd.DataFrame(cm1_dict)
c5=pd.DataFrame(cm2_dict)
table2=pd.concat([c1,c2,c3,c4,c5])
table3=pd.concat([table1,table2])
table3.reset_index(inplace=True,drop=True)

In [93]:
table3.to_csv('links_seen/communication_before_311219.csv')